<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Order Delivery Details</h1>
    <form method="post" data-th-action="@{/pizza/order}" action="#" data-th-object="${deliveryDetails}">
        <!-- <input type="hidden" th:field="*{pizza.type}" th:value="${pizza.type}"> -->
        <!-- <input type="hidden" th:field="*{pizza.type}" th:value="*{pizza.type}"> -->


        <!-- <input type="hidden" th:field="*{pizza}" th:value="${pizza.id}"> -->

        <!-- <input type="hidden" th:field="*{pizza}" th:object="${pizza}"> -->
        <input type="hidden" th:field="*{pizza.type}" th:value="*{pizza.type}">
        <input type="hidden" th:field="*{pizza.size}" th:value="*{pizza.size}">
        <input type="hidden" th:field="*{pizza.quantity}" th:value="*{pizza.quantity}">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" data-th-field="*{name}"></td>
                <td><span data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}"></span></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" data-th-field="*{address}"></td>
                <td><span data-th-if="${#fields.hasErrors('address')}" data-th-errors="*{address}"></span></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><input type="text" data-th-field="*{phone}"></td>
                <td><span data-th-if="${#fields.hasErrors('phone')}" data-th-errors="*{phone}"></span></td>
            </tr>
            <tr>
                <td>Rush:</td>
                <td><input type="checkbox" value="true" data-th-field="*{isRush}"></td>
            </tr>
            <tr>
                <td>Comments:</td>
                <td><input type="text" data-th-field="*{comments}"></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="/"><button type="button">Cancel Order</button></a> &nbsp; <button type="submit">Place Order</button></td>
            </tr>

        </table>
    </form>


    
</body>
</html>